body {
   margin: 0px;
   padding: 0px;
   overflow-x: hidden;
   font-family: sans-serif;
}

h1 {
   font-size: 72px;
}

h2 {
   font-size: 30px;
}

H4 {
  font-size: 22px;
}

section {
   padding-left: 25px;
   padding-right: 25px;
   padding-top: 50px;
   padding-bottom: 50px;
   border-bottom: 1px solid #ddd;
}

section p {
   font-size: 20px;
}

footer {
   background-color: #3a3a3a;
   width: 100vw;
   height: 40vh;
}

.bg {
   background: url(../img/bg2.jpg);
}

#title {
  font-weight: bold;
  color: white;
}

#map {
    width: 100%;
    height: 80%;
}

.container {
  width: 90%;
}

.fullscreen {
   min-width: 100vw;
   min-height: 100vh;
}

.wrapper {
   background: rgba(0, 0, 0, .5);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.footer-icon {
   color: #fff;
   font-size: 40px;
   margin: 15px;
}

.footer-icon, .footer-icon:hover, .footer-icon:visited, .footer-icon:active {
  text-decoration: none;
  color: #fff;
}

.footer-anchor, .footer-anchor:hover, .footer-anchor:visited, .footer-anchor:active {
  color: white;
  font-weight: bold;
}

.footer-anchor:hover {
  text-decoration: underline;
}

.footer-anchor {
  padding-left: 15px;
  padding-right: 15px;
}

.footer-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

.service-description-box {
  padding-top: 15px;
  padding-bottom: 15px;
}

.service-description-box h4 {
  font-weight: bold;
}
